@model ProductList
@{
    ViewData["Title"] = "Detail Page";
    Layout = "_Layout";
}


<link href="~/css/Detail.css" rel="stylesheet" type="text/css" />


<body>

    <table width="1194" align="center">
        <tr>
            <th height="68"> </th>
        </tr>
    </table>
    <hr>


    <div style="text-align:center;clear:both;">
        <script src="/gg_bd_ad_720x90.js" type="text/javascript"></script>
        <script src="/follow.js" type="text/javascript"></script>
    </div>


    <p>&nbsp;</p>
    <table cellspacing="15" align="center">
        <tr>
            <td width="238" height="924" valign="top">
                <!--侧边导航栏-->
                <table width="238" height="742" border="0">
                    <tr><td height="140"></td></tr>
                    <tr>
                        <th width="232" height="431">
                            <div class="divcss5"><p>移动手机</p></div>
                            <ul>
                                <li class="li_style"><a href='~/Home/Browse?typeId=1&typeName=苹果手机'>苹果手机</a></li>
                                <li class="li_style"><a href='~/Home/Browse?typeId=2&typeName=微软手机'>微软手机</a></li>
                                <li class="li_style"><a href='~/Home/Browse?typeId=3&typeName=小米手机'>小米手机</a></li>
                            </ul>
                            <div class="divcss5"><p>平板电脑</p></div>
                            <ul>
                                <li class="li_style"><a href="~/Home/Browse?typeId=4&typeName=苹果ipad">苹果ipad</a></li>
                                <li class="li_style"><a href="~/Home/Browse?typeId=5&typeName=华为平板">华为</a></li>
                                <li class="li_style"><a href="~/Home/Browse?typeId=6&typeName=小米平板">小米</a></li>
                            </ul>
                            <div class="divcss5"><p>周边配件</p></div>
                            <ul>
                                <li class="li_style"><a href="~/Home/Browse?typeId=8&typeName=耳机">耳机/音响</a></li>
                                <li class="li_style"><a href="~/Home/Browse?typeId=9&typeName=手环">手环</a></li>
                                <li class="li_style"><a href="~/Home/Browse?typeId=7&typeName=移动电源">移动电源</a></li>
                            </ul>
                        </th>
                    </tr>

                </table>

            </td>

            <td width="20"></td>
            <td width="931" valign="top">

                <table width="887">
                    <tr>
                        <td height="33" colspan="2">
                            <span class="STYLE2"></span>
                        </td>
                    </tr>


                    <tr>
                        <!--商品图片-->
                        <th width="300" height="455">
                            <img src="~/images/@Model.p.Product_Img">
                        </th>


                        <th width="602">
                            <!--商品简易描述-->
                            <table width="581">
                                <!--商品名字-->
                                <tr>
                                    <th width="573" height="52"><font size="6"><div class="divcss5">@Model.p.Productname</div></font></th>
                                </tr>

                                <!--商品价格-->
                                <tr>
                                    <th height="59">


                                        <table width="578" frame="below">
                                            <tr>
                                                <th width="195" height="35"><div class="ooo">￥@Model.p.Price</div></th>
                                                <th width="207">

                                                    <div class="sss">
                                                        <form action="" method="get">
                                                            <label>颜色</label>
                                                            <select name="select">
                                                                <option value="0">BLACK</option>
                                                                <option value="1">RED</option>
                                                                <option value="2">YELLOW</option>
                                                                <option value="3">GREEN</option>
                                                            </select>
                                                        </form>
                                                    </div>
                                                </th>
                                                <th width="160">        <input type="button" value="加入购物车" style="height=20px;width=120px;" /></th>
                                            </tr>
                                        </table>
                                    </th>
                                </tr>


                                <!--商品简单参数介绍-->
                                <tr>
                                    <th height="35" align="left">商品名称：@Model.p.Productname</th>
                                </tr>
                                <tr>
                                    <td height="35">商品编码：@Model.p.ObjId</td>
                                </tr>
                                <tr>
                                    <td height="35">简单描述：苹果IPhone 7代 全网智能手机</td>
                                </tr>
                                <tr>
                                    <td height="34">市场价格：@Model.p.Price</td>
                                </tr>

                                <!--承诺-->
                                <tr>
                                    <th height="31">
                                        <div class="ccc">
                                            服务承诺    正品保障 七天无理由退换
                                        </div>
                                    </th>
                                </tr>
                                <tr><td height="20"></td></tr>
                                <tr>
                                    <th>
                                        <div class="nobdr-btns">
                                            <button class="addcart"><img src="~/images/img_Detail/shop.png" width="25" height="25" />加入购物车</button>
                                            <button class="addcart"><img src="~/images/img_Detail/ht.png" width="25" height="25" />收藏此商品</button>
                                        </div>
                                    </th>
                                </tr>
                            </table>
                        </th>
                    </tr>

                    <tr>
                        <td height="303" colspan="2">

                            <hr>

                            <table width="876" height="315" frame="below">
                                <tr>
                                    <td width="276" height="136">

                                        <div class="divcss5">
                                            <img src="~/images/img_Detail/img 2/a-1.png" />
                                            <p>
                                                品牌: 不详<br>Apple型号: 不详
                                            </p>
                                        </div>
                                    </td>

                                    <td width="272">

                                        <div class="divcss5">
                                            <img align="middle" src="~/images/img_Detail/img 2/a-2.png">
                                            <p>分辨率	不详<br>像素分辨率 不详</p>
                                        </div>
                                    </td>
                                    <td width="312">

                                        <div class="divcss5"><img align="middle" src="~/images/img_Detail/img 2/a-3.png"><p>网络类型: 未知<br>网络模式: 未知</p></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="171">

                                        <div class="divcss5">
                                            <img align="middle" src="~/images/img_Detail/img 2/b-1.png">
                                            <p>核心数: 不详</p>
                                        </div>
                                    </td>
                                    <td>

                                        <div class="divcss5">
                                            <img align="middle" src="~/images/img_Detail/img 2/b-2.png"><p>
                                                运行内存RAM: 不详<br>
                                                存储容量:未知
                                            </p>
                                        </div>
                                    </td>
                                    <td>

                                        <div class="divcss5"><img align="middle" src="~/images/img_Detail/img 2/b-3.png"><p>前置摄像头: 未知<br>后置摄像头: 未知</p></div>
                                    </td>
                                </tr>
                            </table>




                        </td>
                    </tr>

                </table>

            </td>
        </tr>
    </table>

    <script src="~/js/Detail.js" type="text/javascript"></script>
    <style type="text/css">
        <!--
        .STYLE2 {
            font-size: 16px;
        }
        -->
    </style>

</body>
